$base-font-size         : 14px !default;
$base-line-height       : 1.42857143;
$base-font-sans-serif   : "Open sans",sans-serif !default;

$base-font-weight-light        : 300 !default;
$base-font-weight-regular      : 400 !default;
$base-font-weight-semibold     : 600 !default;
$base-font-weight-bold         : 700 !default;
$base-font-weight-extra-bold   : 800 !default;

$base-border-radius     : 2px !default;
$base-spacer            : 15px !default;
