$base-font-size         : 14px !default;
$base-line-height       : 1.42857143;
$base-font-sans-serif   : "Open sans",sans-serif !default;

$base-font-weight-light        : 300 !default;
$base-font-weight-regular      : 400 !default;
$base-font-weight-semibold     : 600 !default;
$base-font-weight-bold         : 700 !default;
$base-font-weight-extra-bold   : 800 !default;

$base-border-radius     : 2px !default;
$base-spacer            : 15px !default;


$base-colors:(
    primary     : #673AB7,
    secondary   : #F44336,
    accent      : #009688
);
$base-color--primary    : map_get($base-colors,primary);
$base-color--secondary  : map_get($base-colors,secondary);
$base-color--accent     : map_get($base-colors,accent);