.c-widget {
    position: relative;

    &__header{
        @extend .color-white;

        padding: $base-spacer;
        background-color: $widget__header-bg;
    }

    &__body{
        padding: $base-spacer;
    }
}