html{
    font-size: $base-font-size;
    font-family: $base-font-sans-serif;
    font-weight: $base-font-weight-regular;
    line-height: $base-line-height;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,body{
    width: 100%;
    min-height: 100%;
    position: relative;
}